<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>SimplifyDashboard</display-name>
	<welcome-file-list>
		<welcome-file>SimplifyDashboardController</welcome-file>
	</welcome-file-list>
	<listener>
		<listener-class>simplify.loader.SimplifyInitializer</listener-class>
	</listener>
	<servlet>
		<description></description>
		<display-name>SimplifyDashboardController</display-name>
		<servlet-name>SimplifyDashboardController</servlet-name>
		<servlet-class>simplify.controller.SimplifyDashboardController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SimplifyDashboardController</servlet-name>
		<url-pattern>/SimplifyDashboardController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BPMController</display-name>
		<servlet-name>BPMController</servlet-name>
		<servlet-class>simplify.controller.BPMController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BPMController</servlet-name>
		<url-pattern>/BPMController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>DataController</display-name>
		<servlet-name>DataController</servlet-name>
		<servlet-class>simplify.controller.DataController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DataController</servlet-name>
		<url-pattern>/DataController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>LinuxController</display-name>
		<servlet-name>LinuxController</servlet-name>
		<servlet-class>simplify.controller.LinuxController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LinuxController</servlet-name>
		<url-pattern>/LinuxController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>QualityAssuranceContoller</display-name>
		<servlet-name>QualityAssuranceContoller</servlet-name>
		<servlet-class>simplify.controller.QualityAssuranceContoller</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>QualityAssuranceContoller</servlet-name>
		<url-pattern>/QualityAssuranceContoller</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>BuildAutomationController</display-name>
		<servlet-name>BuildAutomationController</servlet-name>
		<servlet-class>simplify.controller.BuildAutomationController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BuildAutomationController</servlet-name>
		<url-pattern>/BuildAutomationController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>WasController</display-name>
		<servlet-name>WasController</servlet-name>
		<servlet-class>simplify.controller.WasController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>WasController</servlet-name>
		<url-pattern>/WasController</url-pattern>
	</servlet-mapping>	
	<servlet>
		<description></description>
		<display-name>AnalyticsController</display-name>
		<servlet-name>AnalyticsController</servlet-name>
		<servlet-class>simplify.controller.AnalyticsController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AnalyticsController</servlet-name>
		<url-pattern>/AnalyticsController</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>AdminController</display-name>
		<servlet-name>AdminController</servlet-name>
		<servlet-class>simplify.controller.AdminController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminController</servlet-name>
		<url-pattern>/AdminController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>simplify</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>simplify</servlet-name>
		<url-pattern>/action.do/*</url-pattern>
	</servlet-mapping>

</web-app>